:root {
  /* Primary */
  --primary-0: #98C7F3;
  --primary-10: #6AADEB;
  --primary-20: #54A2EA;

  /* Neutral */
  --neutral-0: #FFFFFF;
  --neutral-10: #F8FBFF;
  --neutral-20: #F2F8FF;
  --neutral-30: #E5EEFA;
  --neutral-40: #D2DBE7;
  --neutral-50: #A6AEBA;
  --neutral-60: #717984;
  --neutral-70: #484D52;
  --neutral-80: #282B2E;
  --neutral-90: #1B1D20;

  /* Success */
  --success-0: #ACE588;
  --success-10: #7CCC4B;
  --success-20: #61BB29;

  /* Danger */
  --danger-0: #FF6969;
  --danger-10: #FF4646;
  --danger-30: #E42D2D;

  /* Alert */
  --alert-0: #FFB774;
  --alert-10: #EE8A2E;
  --alert-30: #DE7514;

  --shadow-md: 0 4px 16px rgba(27, 29, 32, 0.24);
  --shadow-sm: 0 4px 8px rgba(27, 29, 32, 0.08);
}

.h1 {
  font-size: 96px;
  font-weight: 400;
}

.h2 {
  font-size: 60px;
  font-weight: 400;
}

.h3 {
  font-size: 48px;
  font-weight: 400;
}

.h4 {
  font-size: 34px;
  font-weight: 500;
}

.body1 {
  font-size: 24px;
  font-weight: 500;
}

.body2 {
  font-size: 20px;
  font-weight: 600;
}

.body3 {
  font-size: 20px;
  font-weight: 400;
}

.subtitle1 {
  font-size: 16px;
  font-weight: 600;
}

.subtitle2 {
  font-size: 16px;
  font-weight: 500;
}

.detail1 {
  font-size: 14px;
  font-weight: 500;
}

.detail2 {
  font-size: 14px;
  font-weight: 600;
}

.detail3 {
  font-size: 14px;
  font-weight: 400;
}

.detail4 {
  font-size: 12px;
  font-weight: 500;
}

.button {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.0625rem;
}

.ag-theme-alpine .cell-disabled {
  opacity: 0.5;
  pointer-events: auto;
}